{% extends "base.html" %}
{% block content %}
<header>
    <h1>Goals</h1>
</header>
<table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Created Date</th>
                <th>Target Date</th>
                <th>Completed</th>
                <th>Completion Date</th>
            </tr>
        </thead>
        <tbody>
            {% for goal in goals %}
            <tr>
                <td>{{ goal.description }}</td>
                <td>{{ goal.created_date }}</td>
                <td>{{ goal.target_date }}</td>
                <td>{% if goal.completed %}Yes{% else %}No{% endif %}</td>
                <td>{{ goal.completion_date or '' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
